.login{
	margin-top:10%;
	padding:5px 20px 10px 20px;
	background: white;
	border-radius: 10px;
}

.login1{
	margin-top: 20%;
}

.login2{
	margin-top: 5%;
}
.center-small{
	margin-top: 15vh;
}